
<%- include('./fragments/header.ejs') %>
   
    
    <main>
        
        <h2>Strona główna</h2>
        <% if(!loggedUser) { %>
            Musisz się zalogować, aby zobaczyć treść.
        <% } else { %>
            Banana Gaming Banana Gaming Banana Gaming Banana Gaming Banana Gaming Banana Gaming Banana Gaming Banana Gaming Banana Gaming Banana Gaming 
        <% } %>
       

    </main>

<%- include('./fragments/footer.ejs') %>
