<%- include('../../fragments/header.ejs') %>
   
    <main>
        
        <h2>Lista profili</h2>

        Brak profili do wyświetlenia.
        <p><a href="userprofile-form.html" class="button-add"> Dodaj nowy profil</a></p>
        <a href="userprofile-list.html" class="form-button-goback">Powrót</a>
       
    </main>
    <%- include('../../fragments/footer.ejs') %>

</html>