<%- include('../../fragments/header.ejs') %>
    <main>
        
        <h2>Nowa gra</h2>

       <form class="form">
            <label for="title">Title: <span class="symbol-required">*</span></label>
            <input type="text" name="title" id="title" class="error-input" required />     
            <span id="errorTitle" class="errors-text">Pole jest wymagane!</span>

            <label for="studio">Studio: </label>
            <input type="text" name="studio" id="studio"  /> 
            <span id="errorStudio" class="errors-text"></span>

            <label for="publisher">Publisher: </label>
            <input type="text" name="publisher" id="publisher"  />    
            <span id="errorPublisher" class="errors-text"></span>

            <label for="shortDescription">Short Description: </label>
            <input type="text" name="shortDescription" id="shortDescription"  />       
            <span id="errorShortDescription" class="errors-text"></span>

            <div>
                <p id="errorsSummary"><span class="errors-text">Formularz zawiera błędy!</span></p>
                <input type="submit" value="Dodaj" class="form-button-submit"/>
                <!-- input type="reset"-->
                <a href="game-list.html" class="form-button-cancel">Anuluj</a>
            </div>
       </form>
       
    </main>
    <%- include('../../fragments/footer.ejs') %>

</html>