<%- include('../../fragments/header.ejs') %>
   
    <main>
        
        <h2>Lista gier</h2>

        Brak gier do wyświetlenia.
        <p><a href="game-form.html" class="button-add">Dodaj nową grę</a></p>
        <a href="game-list.html" class="form-button-goback">Powrót</a>
       
    </main>
    <%- include('../../fragments/footer.ejs') %>

</html>